---
---

{% if entry.abbr %}
  {% if site.data.venues[entry.abbr] %}
    <abbr>[<a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}}</a>]</abbr>
  {% else %}
    <abbr>[{{entry.abbr}}]</abbr>
  {% endif %}
{% endif %}

<div id="{{entry.key}}">
  {% if entry.type == "thesis" %}
    {{reference}}
  {% else %}
    {% if entry.link %}
    <a href="{{ entry.link }}" class="title" target="_blank">{{entry.title}}</a>
    {% else %}
    <span class="title">{{entry.title}}</span>
    {% endif %}
    <span class="author">
      {% for author in entry.author_array %}
        {% unless forloop.last %}
          {% if author.first == site.scholar.first_name %}
            {{author.first}} {{author.last}},
          {% else %}
            {% if site.data.coauthors[author.last] %}
              <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first}}</a>,
            {% else %}
              {{author.first}} {{author.last}},
            {% endif %}
          {% endif %}
        {% else %}

          {% if author.last == site.scholar.last_name %}
            {{author.first}} {{author.last}}.
        {% else %}
            {% if site.data.coauthors[author.last] %}
              <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.last}}, {{author.first}}</a>
            {% else %}
              {{author.first}} {{author.last}}.
            {% endif %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </span>

    <span class="periodical">
    {% if entry.type == "article" %}
      <em>{{entry.journal}},</em>
    {% elsif entry.type == "inproceedings" %}
      <em>In {{entry.booktitle}},</em>
    {% elsif entry.type == "phdthesis" %}
      <em>PhD Thesis. {{entry.school}}</em>
    {% endif %}
    {% if entry.year %}
      {{entry.year}}.
    {% endif %}
    </span>
  {% endif %}

  {% if entry.award %}
  <span class="award">{{ entry.award }}</span>
  {% endif %}

  {% if entry.thumb %}
  <a href="{{ entry.link }}" target="_blank"><img class="paper_thumb" src="/assets/paper-thumbnails/{{entry.thumb}}"/></a>
  {% endif %}
  {% if entry.abstract %}
  <span class="abstract">
    {{ entry.abstract }}
  </span>
  {% endif %}

  <span class="links">
  <!-- {% if entry.abstract %}
    [<a class="abstract">Abs</a>]
  {% endif %} -->
  {% if entry.arxiv %}
    [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>]
  {% endif %}
  {% if entry.html %}
    [<a href="{{ entry.html }}" target="_blank">website</a>]
  {% endif %}
  <!-- {% if entry.link %}
    [<a href="{{ entry.link }}" target="_blank">PDF</a>]
  {% endif %} -->
  <!-- {% if entry.pdf %}
    [<a href="{{ entry.pdf | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">PDF</a>]
  {% endif %} -->
  {% if entry.supp %}
    [<a href="{{ entry.supp | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Supp</a>]
  {% endif %}
  {% if entry.poster %}
    [<a href="{{ entry.poster | prepend: '/assets/papers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Poster</a>]
  {% endif %}
  {% if entry.slides %}
    [<a href="{{ entry.slides | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Slides</a>]
  {% endif %}
  {% if entry.code %}
    [<a href="{{ entry.code }}" target="_blank">Code</a>]
  {% endif %}
  </span>



  <!-- Hidden abstract block -->

</div>
